@charset "UTF-8";
/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* General */
.cf, footer .l-footer-top ul, .top-mainvisual .mainvisual-box, .top-mainvisual .mainvisual-box .slide-area, .top-mainvisual .ticker, .tab-box, .area-box .area ul, .callcenter ul, .top-inner-box, .celebrate .globalsign dl, .listbox h3, .listbox .company-name, .listbox .detail-icon, .listbox .details, .listbox .btns, .first .firstbox {
  *zoom: 1;
}
.cf:after, footer .l-footer-top ul:after, .top-mainvisual .mainvisual-box:after, .top-mainvisual .mainvisual-box .slide-area:after, .top-mainvisual .ticker:after, .tab-box:after, .area-box .area ul:after, .callcenter ul:after, .top-inner-box:after, .celebrate .globalsign dl:after, .listbox h3:after, .listbox .company-name:after, .listbox .detail-icon:after, .listbox .details:after, .listbox .btns:after, .first .firstbox:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/* Base */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', 'sans-serif';
  height:100%;
  overflow:hidden;
}
html {
  height:100%;
  overflow:hidden;
}
section {	
  height:100%;
  text-align:center;
}
.main h1 {
	padding-right:50px;
}
.main h2 {
  padding:20px 0;
  font-size:24px;
  color:#1561ae;
  letter-spacing:5px;
}
footer {
  position: absolute;
  bottom: 10px;
  width:100%;
  font-size: 12px;
  color: #4d4d4d;
  text-align: center;
}
