// Colors

$color: #3C8DBC;
$inverse-color: #FFF;
$dark-color: #357CA5;
$background-color: #ACDDD4;
$border-color: #EEE;
$alert-color: #FFE39B;
$grid-color: #FCF8E3;

// Pixels

$padding-xs: 3px 5px;
$padding-sm: 5px 7px;
$padding-md: 7px 10px;
$padding-lg: 10px 13px;
$padding-xl: 15px 20px;
$margin-xs: 3px 5px;
$margin-sm: 5px 7px;
$margin-md: 7px 10px;
$margin-lg: 10px 13px;
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$font-size-xs: 0.8rem;
$font-size-sm: 1.2rem;
$font-size-md: 1.3rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$hr-xs: 3px;
$hr-sm: 7px;
$hr-md: 10px;
$hr-lg: 15px;